


$fontOne: 'Montserrat', sans-serif
$fontTwo: 'Tilt Warp', cursive

$brandColorOne: #9e6d2d
$brandColorTwo: #b88c51
$brandColorThree: #B17A4E
$darkTextColor: #070012f5



.profile-section
  padding: 0px !important

  img
    width: 100%
    border-radius: 4px
    margin: 30px auto !important
    margin-bottom: 0px !important

  .caption
    margin-top: 20px !important
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center

  span.caption-text    
    font-size: 14px 
    margin: 0px auto !important
    margin-bottom: 30px !important
    text-align: center

  h1
    font-family: $fontOne
    color: #fff
    font-size: 30px
    line-height: 40px
    font-weight: 100
    text-transform: uppercase
    text-align: left
    text-shadow: 2px 2px 10px #00000032

    @media screen and ( max-width: 900px )
      font-size: 20px !important
      
    @media screen and ( orientation: portrait )
      font-size: 20px !important
      font-weight: 800 !important


  h3
    font-family: $fontOne
    font-weight: 700
    font-size: 24px
    color: #fff

    @media screen and ( orientation: portrait )
      font-weight: 800 !important
      font-size: 24px


.empty-divider
  height: 200px !important
  width: 100%

  @media screen and ( max-width: 900px )
    height: 0px !important



.co-name
  color: #333
  margin-left: 20px

  @media screen and ( max-width: 900px )
    font-size: 24px
    margin-left: 5px

p
  font-family: $fontOne
  font-size: 16px

.about-us-section
  

  h2
    font-size: 60px
    text-align: center

  .heading-box
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center


hr
  margin-bottom: 30px !important
  border-top: 1px solid $brandColorOne

  
.leadership-section
  a
    text-decoration: none


.profile-box
  margin: 30px 0px 50px 0px

.profile-name
  display: block
  font-family: $fontTwo
  font-weight: 400
  letter-spacing: 1px
  font-size: 20px
  margin: 10px 0px 5px 0px
  color: $brandColorOne
  
  @media screen and ( max-width: 900px )
    margin-top: 20px !important
    text-align: center

.profile-des
  display: block
  font-family: $fontOne
  font-weight: 200
  font-size: 14px
  color: #333

  @media screen and ( max-width: 900px )
    text-align: center

h2
  @media screen and ( max-width: 900px )
    text-align: center
    font-size: 24px !important
    margin-bottom: 50px