@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
.industries-section {
  padding: 0px !important;
}

.related-items {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.related-items .comp-title {
  color: #fff;
  background: #282828;
  padding: 0.2rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  transform: skew(-15deg, 0deg);
  margin-left: 5px;
}
.related-items hr {
  margin-top: 0;
  margin-bottom: 3rem;
  border-top: 1px solid #282828;
}
.related-items .single-item {
  height: 100%;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 5px 5px 13px 0px rgba(181, 173, 173, 0.81);
  cursor: pointer;
  text-decoration: none !important;
}
.related-items .single-item:hover .bg-img {
  transform: scale(1.1);
}
.related-items .single-item:hover .title {
  color: #0000bb;
}
.related-items .image-container {
  height: 180px;
  width: 100%;
}
.related-items .image-container .bg-img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 5s ease;
}
.related-items .details {
  padding: 0.75rem 1rem 2rem;
}
.related-items .title {
  font-size: 0.8rem;
  font-weight: 600;
  color: #000;
}
.related-items .download-btn {
  display: block !important;
  margin: 0.75rem auto 0;
  padding: 0.35rem 1.5rem;
  background: #282828;
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  transition: all 0.25s ease;
}
.related-items .download-btn:hover {
  background: #9e6d2d;
}

.content-cta {
  background: #F5EDE2;
  padding: 1.8rem 1.2rem;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content-cta .title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.8rem;
  color: #000;
}
.content-cta .detail {
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 1.2rem;
  color: #000;
}
.content-cta .sidebar-cta-button {
  background: #9E6D2D;
  color: #fff;
  font-weight: 700;
  font-size: 0.9rem;
  width: 100%;
  max-width: 320px;
  display: block;
  text-align: center;
  padding: 0.4rem 2.5rem;
  border-radius: 20px;
}

#book-now-cta-modal {
  z-index: 5000;
}
#book-now-cta-modal article {
  background: #fff;
  padding-bottom: 1rem;
  width: 100%;
  overflow-y: auto;
  display: block;
}
#book-now-cta-modal header {
  position: relative;
  background: #9E6D2D;
  border: 0;
  margin-bottom: 0.75rem;
  padding: 0.5rem 20px !important;
}
#book-now-cta-modal header .heading {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
#book-now-cta-modal .close-btn {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 20px;
  top: 4px;
  padding: 0.25rem;
  background: transparent;
  border: 0;
  margin-bottom: unset;
}
#book-now-cta-modal .content {
  color: #000;
  padding: 1rem 0;
}
#book-now-cta-modal .content .msg {
  color: #000;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
#book-now-cta-modal .content form {
  margin: 0;
}
#book-now-cta-modal .content label {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  color: #000;
}
#book-now-cta-modal .content select, #book-now-cta-modal .content input, #book-now-cta-modal .content textarea {
  margin: 0;
  padding: 0.24rem 0.5rem;
  color: #000;
  font-size: 0.75rem;
  font-weight: 400;
  height: unset !important;
  box-shadow: none !important;
}
#book-now-cta-modal .content select:focus, #book-now-cta-modal .content input:focus, #book-now-cta-modal .content textarea:focus {
  border-color: #9E6D2D !important;
}
#book-now-cta-modal .content .input-group {
  margin-bottom: 0.75rem;
}
#book-now-cta-modal .content button[type=submit] {
  margin-top: 1.2rem;
  margin-bottom: 0;
  background: #9E6D2D;
  border: 0;
  font-size: 0.85rem;
  height: unset !important;
  padding: 0.35rem 1.5rem;
  font-weight: 500;
}

#content {
  color: #000;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  color: inherit;
  font-weight: 700;
  text-shadow: unset;
  font-family: "Montserrat", sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
#content p {
  text-align: left;
  text-shadow: unset;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 27.2px;
  color: #2f2f2f;
  text-align: justify;
}
#content h1 {
  margin: 1rem;
  font-size: 2rem;
  line-height: 1.5;
  color: #000;
}
#content h2 {
  margin: 2rem 0;
  font-size: 1.8rem;
  line-height: 40px;
  color: #000;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  #content h2 {
    font-size: 1.6rem !important;
    color: #000 !important;
    font-weight: 700 !important;
    margin: 2rem 0 !important;
  }
}
#content h3 {
  margin: 1.4rem 0;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #000;
}
#content h4 {
  margin: 1.2rem 0;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #000;
}
#content h5 {
  margin: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.3;
  color: #000;
}
#content h6 {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.2;
  color: #000;
}

.sidebar-cta {
  background: #F5EDE2;
  padding: 1.8rem 1.2rem;
  overflow: hidden;
  border-radius: 5px;
}
.sidebar-cta .title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0.8rem;
  color: #000;
}
.sidebar-cta .detail {
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 1rem;
  color: #000;
}
.sidebar-cta .sidebar-cta-button {
  background: #9E6D2D;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
  width: 100%;
  display: block;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
}

.industries-banner {
  height: 100%;
  width: 100%;
  background: #282828;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative !important;
  z-index: 1;
}
.industries-banner::after {
  content: "";
  background: rgba(0, 0, 0, 0.4) !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.industries-banner .banner-content {
  z-index: 1;
  position: relative;
  padding: 6rem 0 3rem;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  line-height: 1.4 !important;
}
@media screen and (max-width: 992px) {
  .industries-banner .banner-content {
    padding: 8rem 0 3rem;
  }
}
.industries-banner .industries-banner-sub-heading {
  max-width: 755px;
  font-size: 0.85rem;
  color: #FFBA60;
  font-weight: 500;
}
.industries-banner .banner-main-text {
  max-width: 750px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 1.5rem !important;
  font-size: 3rem !important;
  line-height: 1.2 !important;
}
@media screen and (max-width: 600px) {
  .industries-banner .banner-main-text {
    font-size: 2.5rem !important;
    line-height: 1.2 !important;
  }
}
.industries-banner .banner-details {
  max-width: 755px;
  font-size: 0.97rem;
  color: #fff;
  margin-bottom: 1.6rem !important;
  text-align: left;
  line-height: 1.7;
}
.industries-banner .bannner-cta-button {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0.4rem 2rem !important;
  background: #9E6D2D;
  color: #fff;
  width: -moz-fit-content !important;
  width: fit-content !important;
  border: none;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 600;
}
.industries-banner .banner-slogan {
  margin-top: 1.7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 767px) {
  .industries-banner .banner-slogan {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .industries-banner .banner-slogan {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
}
.industries-banner .banner-slogan .single-slogan {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  background: rgba(139, 139, 139, 0.4588235294);
  border: 2px solid rgba(255, 186, 96, 0.2);
  border-radius: 20px;
  padding: 1rem;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .industries-banner .banner-slogan .single-slogan {
    padding: 0.75rem 1rem;
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .industries-banner .banner-slogan .single-slogan {
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem 2rem;
  }
}
.industries-banner .banner-slogan .single-slogan img.slogan-structure {
  margin-bottom: 0.5rem;
  width: 60px;
  height: 40px;
}
@media screen and (max-width: 992px) {
  .industries-banner .banner-slogan .single-slogan img.slogan-structure {
    width: 40px;
    height: 26.6666666667px;
  }
}
@media screen and (max-width: 767px) {
  .industries-banner .banner-slogan .single-slogan img.slogan-structure {
    width: 28px;
    height: 18.6666666667px;
  }
}
.industries-banner .banner-slogan .single-slogan img.slogan-tax {
  margin-bottom: 0.5rem;
  width: 40px;
  height: 44px;
}
@media screen and (max-width: 992px) {
  .industries-banner .banner-slogan .single-slogan img.slogan-tax {
    width: 30px;
    height: 33px;
  }
}
@media screen and (max-width: 767px) {
  .industries-banner .banner-slogan .single-slogan img.slogan-tax {
    width: 20px;
    height: 22px;
  }
}
.industries-banner .banner-slogan .single-slogan img.slogan-succession {
  margin-bottom: 0.5rem;
  width: 32px;
  height: 42px;
}
@media screen and (max-width: 992px) {
  .industries-banner .banner-slogan .single-slogan img.slogan-succession {
    width: 24px;
    height: 31.5px;
  }
}
@media screen and (max-width: 767px) {
  .industries-banner .banner-slogan .single-slogan img.slogan-succession {
    width: 18px;
    height: 23.625px;
  }
}
.industries-banner .banner-slogan .single-slogan img.slogan-asset {
  margin-bottom: 0.5rem;
  width: 45px;
  height: 45px;
}
@media screen and (max-width: 992px) {
  .industries-banner .banner-slogan .single-slogan img.slogan-asset {
    width: 33px;
    height: 33px;
  }
}
@media screen and (max-width: 767px) {
  .industries-banner .banner-slogan .single-slogan img.slogan-asset {
    width: 18px;
    height: 18px;
  }
}
.industries-banner .banner-slogan .single-slogan p {
  color: inherit;
  font-weight: 600;
  margin-bottom: unset;
  text-align: center;
  font-size: 0.8rem;
}

.share-links {
  padding: 1.5rem 0;
}
.share-links .links {
  display: flex;
  gap: 1rem;
}
.share-links .links .icon a img {
  width: 25px;
  height: 25px;
}
.share-links .links .icon:hover {
  transform: scale(1.05);
}

#jigjag-content .row {
  align-items: center;
}
#jigjag-content .cta-modal-btn {
  background: #9E6D2D;
  color: #fff;
  padding: 0.3rem 1rem;
  margin: 1.4rem 0 0;
  border: 0;
  border-radius: 20px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}
#jigjag-content h1, #jigjag-content h2, #jigjag-content h3, #jigjag-content h4, #jigjag-content h5, #jigjag-content h6, #jigjag-content p {
  margin-top: 0 !important;
}
#jigjag-content .content-title {
  margin: 2rem 0;
  font-size: 1.8rem;
  line-height: 40px;
  color: #9E6D2D;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 992px) {
  #jigjag-content .content-title {
    font-size: 1.6rem !important;
    color: #9E6D2D !important;
    font-weight: 700 !important;
    margin: 2rem 0 !important;
  }
}
@media screen and (max-width: 991px) {
  #jigjag-content .content-title {
    order: 0 !important;
  }
}
#jigjag-content .single-content {
  margin-bottom: 3.5rem;
}
#jigjag-content .single-content:nth-child(odd) .image-container {
  order: 1;
}
@media screen and (max-width: 991px) {
  #jigjag-content .single-content:nth-child(odd) .image-container {
    order: 0 !important;
  }
}
#jigjag-content .single-content:nth-child(even) .image-container {
  order: 0;
}
@media screen and (max-width: 991px) {
  #jigjag-content .single-content:nth-child(even) .image-container {
    order: 0 !important;
  }
}
#jigjag-content .single-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
#jigjag-content .single-content h1 {
  margin: 0 0 1rem;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #000;
}
#jigjag-content .single-content h2 {
  margin: 0 0 1rem;
  font-size: 1.4rem;
  line-height: 32px;
  color: #000;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  #jigjag-content .single-content h2 {
    font-size: 1.2rem !important;
    color: #000 !important;
    font-weight: 700 !important;
    margin: 2rem 0 !important;
  }
}
#jigjag-content .single-content h3 {
  margin: 0 0 0.8rem;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #000;
}
#jigjag-content .single-content h4 {
  margin: 0 0 1rem;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #000;
}
#jigjag-content .single-content h5 {
  margin: 0 0 0.75rem;
  font-size: 0.9rem;
  line-height: 1.1;
  color: #000;
}
#jigjag-content .single-content h6 {
  margin: 0 0 0.75rem;
  font-size: 0.8rem;
  line-height: 1.1;
  color: #000;
}
#jigjag-content .single-content p {
  margin: 0 0 0.5rem;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #000;
}/*# sourceMappingURL=industries-template.css.map */