@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap')


$fontOne: 'Montserrat', sans-serif
$fontTwo: 'Tilt Warp', cursive

$brandColorOne: #9e6d2d
$brandColorTwo: #b88c51
$brandColorThree: #B17A4E
$darkTextColor: #070012f5


#insight-article
    address, blockquote, dl, figure, form, ol, p, pre, table, ul 
        font-size: .8rem
        font-weight: 500
        line-height: 1.7

    h2
        font-family: $fontOne
        font-weight: 700
        font-size: 1.2rem
        color: #333
        scroll-margin-top: 5.2rem
        text-shadow: unset !important


        @media screen and ( orientation: portrait )
            font-size: 1.2rem

    h3
        font-size: .9rem

    h4,h5,h6
        font-size: .8rem


    p, ul
        color: #000


main
  padding: 0px !important

.insight-single-fixed

    .insight-section
        padding: 2rem 0 0 !important

        img
            width: 100%
            border-radius: 4px
            margin: 30px auto !important
            margin-bottom: 0px !important

    .caption
        margin-top: 20px !important
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center

    span.caption-text    
        font-size: 14px 
        margin: 0px auto !important
        margin-bottom: 30px !important
        text-align: center


        @media screen and ( max-width: 900px )
        font-size: 20px !important
        
        @media screen and ( orientation: portrait )
        font-size: 20px !important
        font-weight: 800 !important







    .empty-divider
        height: 200px !important
        width: 100%

        @media screen and ( max-width: 900px )
            height: 0px !important


    hr
        margin-bottom: 50px
        border-top: 1px solid $brandColorOne

    .credits
        margin-bottom: 2.5rem !important
        color: #000
        font-weight: 600

    span.author, span.date
        font-size: .8rem !important

    span.tags 
        font-size: .8rem

    span.author a, span.tags a
        font-size: .8rem !important
        font-weight: 700
        text-decoration: none
        color: $brandColorThree
        cursor: pointer
        &:hover
            color: $brandColorOne

    .sidemenu-holder
        @media screen and ( max-width: 991px )
            display: none


    .insight-headline

        h1
            font-weight: 700 !important
            font-size: 1.7rem !important
            text-transform: capitalize
            color: #222
            margin-bottom: unset
            line-height: 1.2

        hr
            margin-bottom: unset


    .you-may-like
        margin-bottom: .25rem

        hr
            margin: unset
            border-top: 1px solid #282828

        .copm-title
            color: #fff
            background: #282828
            padding: .20rem 1.5rem
            font-size: 1rem 
            font-weight: 500
            font-family: $fontOne
            letter-spacing: 1.5px
            text-transform: uppercase
            width: fit-content

        .content
            padding-top: 1.5rem

        .single-post
            margin-bottom: 1rem
            &:hover
                .bg-image
                    transform: scale(1.2)

        .image-container
            width: 100%
            overflow: hidden

        img
            width: 100%

        .bg-image
            width: 100%
            height: 170px
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            transition-duration: 5s 

        a
            text-decoration: none

        .post-title
            padding: .5rem 0
            font-size: .85rem
            font-weight: 600
            color: #282828



            
