@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap')


$fontOne: 'Montserrat', sans-serif
$fontTwo: 'Tilt Warp', cursive

$brandColorOne: #9e6d2d
$brandColorTwo: #b88c51
$brandColorThree: #B17A4E
$darkTextColor: #070012f5



hr
  margin-bottom: 50px
  border-top: 1px solid #282828

.copm-title
  color: #fff
  background: #282828
  padding: .20rem 1.5rem
  font-size: 1rem 
  font-weight: 500
  font-family: $fontOne
  letter-spacing: 1.5px
  text-transform: uppercase
  width: fit-content
  transform: skew(-15deg, 0deg)
  margin-left: 5px


.post-container
  margin-top: 2rem

  hr
    margin-top: 0 !important

  .featured-post
    margin-top: 5rem

.blog-item
  overflow: hidden
  border-radius: 3px
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .2 )
  padding: 0px !important

  .blog-tags
      margin: .5rem 0 0 0 !important 
      padding: 0 !important

      li
        list-style: none
        display: inline-block
      
      a
        font-size: .75rem
        padding: 3px 12px
        background-color: #282828
        color: #E2E2E2
        transform: skew(-15deg)
        margin-left: 3px

  

.latest-post
  
  .blog-item
    height: unset
    margin-bottom: 1.5rem
    &:hover
      .image
        transform: scale(1.1)

    .blog-item-image
      width: 100%
      height: 100%
      overflow: hidden
      @media screen and ( max-width:  992px)
        height: 350px
        
      @media screen and ( max-width:  768px)
        height: 250px

      .image
        height: 100%
        width: 100%
        transition: all 5s ease
        background-repeat: no-repeat
        background-position-y: center
        background-size: cover

    .blog-details
      padding-left: 1rem
      padding-right: 1.5rem
      padding-top: .5rem
      padding-bottom: 1rem
      @media screen and ( max-width: 992px )
        padding: unset
        padding: .5rem 2rem 1rem

    .title
      padding-top: .5rem !important
      font-size: 1.2rem !important
      margin-bottom: unset
      font-weight: 600
      color: #282828
      text-decoration: none
      line-height: 1.3 !important
      @media screen and ( max-width: 768px )
        font-size: 1rem !important
        

    .blog-author-date
      margin-top: .5rem
      font-size: .85rem
      font-weight: 500
      color: #282828
      @media screen and ( max-width: 768px )
        font-size: .7rem
        

    .blog-tags
      margin-top: .25rem
      
      a
        display: inline-block
        font-size: .85rem
        padding: 3px 12px
        background-color: #282828
        color: #E2E2E2
        @media screen and ( max-width: 768px )
        font-size: .75rem

    .blog-item-text
      margin-top: .25rem
      margin-bottom: unset
      font-size: .85rem
      color: #282828
      @media screen and ( max-width: 992px )
        display: none
      

.side-content

  .copm-title
    width: 100% !important
    text-align: center
    font-size: 1rem
    letter-spacing: 1px
    padding: .10rem

  .content
    padding: .75rem 0

  .all-tags
    margin-top: .5rem
    margin-bottom: 1rem
    display: flex
    flex-wrap: wrap
    gap: .25rem
    padding: .5rem 0

    li
      list-style: none
      margin-bottom: unset
    .tag
      display: inline-block
      margin-bottom: unset
      padding: .10rem .5rem
      font-size: .7rem
      color: $brandColorTwo 
      border: 1px solid $brandColorTwo
      border-radius: 20px
      text-decoration: none
      transition: all .25s
      font-weight: 500
      &:hover
        opacity: .8
        color: #000
        border-color: #000

  .post
    margin-bottom: 1.2rem
    
  .title
    font-size: .7rem
    line-height: 1.5 !important
    margin-bottom: .25rem
    color: #282828
    font-weight: 500
    font-family: $fontOne
    display: block
    text-decoration: none

  .post-status
    font-size: .7rem
    font-family: $fontOne


  .subscribe
    padding: 0 .25rem .75rem

    p
      margin-top: .5rem
      font-size: .9rem
      line-height: 1.4

    .focus
      font-weight: 700
      color: #000
    input
      padding: .35rem .50rem
      height: unset
      font-size: .85rem
      &:active
        border-color: $brandColorOne !important
      &:focus
        box-shadow: unset !important
        border-color: $brandColorOne !important


    .submit-btn
      background: #282828
      border: none
      border-radius: 20px
      &:hover
        background: $brandColorOne

.main-content
  margin-bottom: 2rem

  .blog-item
    height: unset
    margin-bottom: 2rem
    &:hover
      .image
        transform: scale(1.1)

    .blog-item-image
      width: 100%
      height: 100%
      overflow: hidden
      @media screen and ( max-width:  992px)
        height: 250px

      .image
        height: 100%
        width: 100%
        transition: all 5s ease
        background-repeat: no-repeat
        background-position-y: center
        background-size: cover

    
    .blog-details
      padding-left: 1rem
      padding-right: 1.5rem
      padding-top: .5rem
      padding-bottom: 1rem
      @media screen and ( max-width: 992px )
        padding: unset
        padding: .5rem 2rem 1rem

    .title
      padding-top: .5rem !important
      font-size: 1rem !important
      margin-bottom: unset
      font-weight: 600
      color: #282828
      text-decoration: none
      line-height: 1 !important

    .blog-author-date
      margin-top: .5rem
      font-size: .7rem
      font-weight: 500
      color: #282828

    .blog-tags
      margin-top: .5rem
      
      a
        font-size: .75rem
        padding: 3px 12px
        background-color: #282828
        color: #E2E2E2

    .blog-item-text
      display: none
      font-size: .85rem

.you-may-like
    margin-bottom: .25rem

    hr
      margin: unset

    .content
      padding-top: 1.5rem

    .single-post
      margin-bottom: 1rem
      &:hover
        .bg-image
          transform: scale(1.2)

    .image-container
      width: 100%
      overflow: hidden


      img
        width: 100%

      .bg-image
        width: 100%
        height: 170px
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        transition-duration: 5s 

    a
      text-decoration: none

    .post-title
      padding: .5rem 0
      font-size: .85rem
      font-weight: 600
      color: #282828


#search
  margin-top: 15px !important

  input
    font-size: 14px !important
    padding: .5rem !important
    height: unset

  button[type="submit"]
    font-size: 14px
    background: $brandColorOne
    border: none
    padding: .5rem

    &:hover
      background: #282828