@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
.service-section {
  padding: 0px !important;
}
.service-section h1 {
  font-family: "Tilt Warp", cursive;
  color: #fff;
  font-size: 50px;
  line-height: 55px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1960784314);
}
@media screen and (max-width: 900px) {
  .service-section h1 {
    font-size: 20px !important;
  }
}
@media screen and (orientation: portrait) {
  .service-section h1 {
    font-size: 20px !important;
  }
}
.service-section .empty-divider {
  height: 100px !important;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .service-section .empty-divider {
    height: 0px !important;
  }
}
.service-section .text-section-container {
  padding: 20px 10px !important;
  margin-top: 50px !important;
}
@media screen and (orientation: portrait) {
  .service-section .text-section-container {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
}
.service-section .text-section-container p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
@media screen and (orientation: portrait) {
  .service-section .text-section-container p {
    font-weight: 500;
  }
}
.service-section .text-section-container .right-align {
  margin-left: auto;
  width: 500px;
}
.service-section .text-section-container .service-page-header {
  font-size: 70px !important;
  line-height: 75px;
  width: 100%;
  font-family: "Tilt Warp", cursive;
  color: #b88c51;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1960784314);
}
.service-section .text-section-container .service-page-header .dark {
  color: #333;
  font-family: "Montserrat", sans-serif;
}
@media screen and (orientation: portrait) {
  .service-section .text-section-container .service-page-header {
    width: 100%;
    font-size: 50px !important;
    line-height: 55px !important;
    margin-top: 10px;
  }
}
.service-section .text-section-container h2 {
  font-size: 40px !important;
  line-height: 40px;
  width: 500px;
  margin-bottom: 30px !important;
}
@media screen and (orientation: portrait) {
  .service-section .text-section-container h2 {
    width: 100%;
    margin-top: 30px;
  }
}
.service-section .text-section-container h3 {
  width: 100%;
  text-align: left;
  font-size: 20px;
  color: #b88c51;
}
.service-section .text-section-container h3 .dark {
  color: rgba(7, 0, 18, 0.9607843137);
}
.service-section .text-section-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.service-section .text-section-container hr {
  margin-bottom: 30px !important;
  border-top: 1px solid #9e6d2d;
}
.service-section .page-header-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
}
@media screen and (max-width: 992px) {
  .service-section .page-header-container {
    justify-content: flex-start;
    align-items: start;
    margin-bottom: 1rem;
  }
}
.service-section .page-header-container h2 {
  font-family: "Tilt Warp", cursive;
  color: #b88c51;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1960784314);
}
.service-section .page-header-container h2 .dark {
  font-family: "Montserrat", sans-serif;
}
.service-section .button-flex-box {
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.service-section .button-flex-box .primary {
  background-color: #9e6d2d;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  min-height: 40px;
  max-width: 300px;
  transition-duration: 0.4s;
}
.service-section .button-flex-box .primary:hover {
  background-color: #61431c;
  color: #fff;
}
.service-section .serv-1-mid {
  width: 100%;
  margin: 20px 0px !important;
}
.service-section .bullet-heading {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600 !important;
  text-transform: uppercase;
  font-family: "Tilt Warp", cursive;
  color: #9e6d2d;
}
@media screen and (max-width: 768px) {
  .service-section .bullet-heading {
    font-size: 0.9rem;
  }
}
.service-section .bullet-heading .dark {
  color: rgba(7, 0, 18, 0.9607843137);
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
}
.service-section .related-items {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.service-section .related-items .copm-title {
  color: #fff;
  background: #282828;
  padding: 0.2rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  transform: skew(-15deg, 0deg);
  margin-left: 5px;
}
.service-section .related-items hr {
  margin-top: 0;
  margin-bottom: 3rem;
  border-top: 1px solid #282828;
}
.service-section .related-items .single-item {
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 5px 5px 13px 0px rgba(181, 173, 173, 0.81);
}
.service-section .related-items .single-item:hover .bg-img {
  transform: scale(1.1);
}
.service-section .related-items .image-container {
  height: 200px;
  width: 100%;
}
.service-section .related-items .image-container .bg-img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 5s ease;
}
.service-section .related-items .details {
  padding: 0.75rem 1rem 2rem;
}
.service-section .related-items .title {
  font-size: 0.9rem;
  font-weight: 600;
}
.service-section .related-items .download-btn {
  display: block !important;
  margin: 0.75rem auto 0;
  padding: 0.35rem 1.5rem;
  background: #282828;
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  transition: all 0.25s ease;
}
.service-section .related-items .download-btn:hover {
  background: #9e6d2d;
}/*# sourceMappingURL=services-archive.css.map */