@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }
}
hr {
  margin-bottom: 50px;
  border-top: 1px solid #282828;
}

.contact-banner {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
}
.contact-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.contact-banner .container {
  height: 100%;
  padding: 3rem 0 1rem;
}
@media screen and (max-width: 768px) {
  .contact-banner .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.contact-banner .container .banner-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  text-align: center;
  z-index: 2;
}
@media screen and (max-width: 992px) {
  .contact-banner .container .banner-content {
    gap: 0.75rem;
  }
}
.contact-banner .container .banner-text {
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
  z-index: 2;
  text-align: center;
  line-height: 1.2 !important;
}
@media screen and (max-width: 992px) {
  .contact-banner .container .banner-text {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-banner .container .banner-text {
    font-size: 1.8rem;
  }
}
.contact-banner .container .banner-sub-text {
  font-size: 1.4rem !important;
  font-weight: 500;
  color: #ded9d9;
  text-align: center;
  z-index: 2;
  line-height: 1.4 !important;
}
@media screen and (max-width: 992px) {
  .contact-banner .container .banner-sub-text {
    font-size: 1.2rem !important;
  }
}
@media screen and (max-width: 768px) {
  .contact-banner .container .banner-sub-text {
    font-size: 1rem !important;
  }
}

#tex-estimator {
  margin: 0;
  padding: 3.5rem 0;
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #000;
}
#tex-estimator .estimator {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
@media screen and (max-width: 991px) {
  #tex-estimator .estimator {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
#tex-estimator .estimator .estimator-form {
  height: 100%;
  padding: 2rem 1.5rem;
  margin: unset;
  border-right: 2px solid #B17A4E;
}
@media screen and (max-width: 991px) {
  #tex-estimator .estimator .estimator-form {
    border: none;
    border-bottom: 2px solid #B17A4E;
  }
}
#tex-estimator .estimator .estimator-form .group-title {
  margin: unset;
}
#tex-estimator .estimator .estimator-form legend, #tex-estimator .estimator .estimator-form label {
  font-size: 0.9rem;
  color: #000;
  font-weight: 600;
  margin: unset;
}
#tex-estimator .estimator .estimator-form input[type=number], #tex-estimator .estimator .estimator-form input[type=text] {
  margin: unset;
  height: unset;
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  font-size: 0.9rem;
  border: 1.5px solid #B17A4E;
  color: #000;
  font-weight: 500;
}
#tex-estimator .estimator .estimator-form .not-valid {
  outline: 2px solid red;
  border: none !important;
}
#tex-estimator .estimator .estimator-form ::-moz-placeholder {
  color: #999;
  font-weight: 400;
}
#tex-estimator .estimator .estimator-form ::placeholder {
  color: #999;
  font-weight: 400;
}
#tex-estimator .estimator .estimator-form .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
#tex-estimator .estimator .estimator-form .input-group label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#tex-estimator .estimator .estimator-form .radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 0.75rem;
  color: #000;
}
#tex-estimator .estimator .estimator-form .radio-group .radio-indivisual-input {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#tex-estimator .estimator .estimator-form .radio-group .radio-indivisual-input label {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}
#tex-estimator .estimator .estimator-form .radio-group .radio-indivisual-input input {
  border-color: #B17A4E;
}
#tex-estimator .estimator .estimator-form .error {
  color: red;
  font-size: 0.75rem;
  font-weight: 500;
}
#tex-estimator .estimator .estimator-form .calculate-btn {
  background: #B17A4E;
  border: none;
  box-shadow: unset !important;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
#tex-estimator .estimator .calculated-result {
  height: 100%;
  padding: 2rem 1.5rem;
  margin: unset;
  display: flex;
  flex-direction: column;
  line-height: 1.4 !important;
}
#tex-estimator .estimator .calculated-result p.title {
  font-size: 1.2rem !important;
  font-weight: 600;
  color: #000;
  margin-bottom: 1.2rem;
}
#tex-estimator .estimator .calculated-result h1.amount {
  color: #9e6d2d;
  margin: unset;
  font-size: 3rem;
  display: inline-flex;
  flex-direction: row;
  font-weight: 500;
  gap: 0.25rem;
  margin-bottom: 1.2rem;
}
#tex-estimator .estimator .calculated-result p.description {
  margin-bottom: 1.2rem;
  color: #000;
  font-weight: 500;
  font-size: 1rem !important;
  line-height: 1.4 !important;
}
#tex-estimator .estimator .calculated-result p.description strong {
  color: #B17A4E;
}
#tex-estimator .estimator .calculated-result .summary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#tex-estimator .estimator .calculated-result .summary .summary-head {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #B17A4E;
  margin-bottom: 0.5rem;
}
#tex-estimator .estimator .calculated-result .summary .summary-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.95rem;
  font-weight: 500;
}
#tex-estimator .estimator .calculated-result .summary .summary-data .value {
  font-weight: 600;
  color: #B17A4E;
}
#tex-estimator .how-to-use {
  margin-top: 3.5rem;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#tex-estimator .how-to-use .main-heading {
  text-align: left;
  font-size: 2.1rem;
  font-weight: 700;
  text-shadow: unset;
  font-family: "Montserrat", sans-serif;
  color: #9e6d2d;
}
#tex-estimator .how-to-use .details {
  margin-top: 1.5rem;
  color: #000;
}
#tex-estimator .how-to-use .details p {
  color: #000;
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 0.65rem;
}
#tex-estimator .how-to-use .details p strong {
  color: #9e6d2d;
}
#tex-estimator .how-to-use .details ul {
  padding-left: 2rem;
}
#tex-estimator .how-to-use .details ul li {
  list-style-position: outside;
  list-style: disc;
}
#tex-estimator .how-to-use .details ul li::marker {
  list-style: circle;
  font-size: 1.2rem;
  color: #9e6d2d;
}/*# sourceMappingURL=tax-estimator.css.map */