/******************* BASE ********************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
html {
  scroll-behavior: smooth;
}

h2 {
  font-family: "Tilt Warp", cursive;
  color: #b88c51;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1960784314);
}
@media screen and (max-width: 1000px) {
  h2 {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 1000px) and (orientation: portrait) {
  h2 {
    font-size: 16px !important;
    font-weight: 400 !important;
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 1000px) {
  h3 {
    font-size: 14px !important;
    letter-spacing: 1px !important;
  }
}

p {
  text-align: justify;
}
@media screen and (max-width: 1000px) {
  p {
    font-size: 14px !important;
    line-height: 18px !important;
    text-align: justify;
    letter-spacing: 1px !important;
  }
}

* {
  font-family: "Montserrat", sans-serif;
}

a[role=button] {
  margin: 10px 0px 0px !important;
}

a[role=button].primary {
  background-color: #9e6d2d;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  min-height: 40px;
  max-width: 300px;
  transition-duration: 0.4s;
}
@media screen and (max-width: 1000px) {
  a[role=button].primary {
    margin-bottom: 30px !important;
    font-size: 12px !important;
    line-height: 14px !important;
    margin-right: 10px !important;
    display: inline-block;
  }
}

a[role=button].primary:hover {
  background-color: #61431c;
  border-radius: 2px;
  color: #fff;
}

a[role=button].secondary {
  min-height: 40px;
  background-color: rgba(255, 255, 255, 0.3411764706);
  border: none;
  border-radius: 2px;
  color: #000;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
  a[role=button].secondary {
    font-size: 12px;
    line-height: 14px;
  }
}

a[role=button].secondary:hover {
  border: none;
  background-color: #000;
  color: #fff;
}

a[role=button].third {
  height: 50px;
  background-color: rgba(37, 37, 37, 0.5411764706);
  border: none;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  box-shadow: 1px 1px 16px 2px rgba(255, 255, 255, 0.0352941176);
}

a[role=button].third:hover {
  border: none;
  background-color: #61431c;
  color: #fff;
}

/******************* Utility ********************/
#scroll-target {
  scroll-margin-top: 7rem;
}

.banner {
  position: relative !important;
  margin: 0px !important;
  width: 100%;
  height: 100vh;
  margin-bottom: 50px !important;
  background-image: url("../images/acc-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media screen and (max-width: 900px) {
  .banner {
    margin-bottom: unset;
  }
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.banner .container-fluid {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 1rem 0;
  z-index: 10;
}
.banner .banner-cta {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 10;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .banner .banner-cta {
    margin-bottom: 5rem;
    width: unset;
    flex-direction: column;
    justify-content: center;
    text-align: start;
  }
}
.banner .banner-cta div {
  min-width: 200px;
  text-align: center;
}
.banner .banner-cta h3 {
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  text-shadow: 2px 2px 15px #000 !important;
  text-transform: uppercase;
  padding: 5px 15px;
  border-left: 10px solid #9e6d2d;
  margin: 0px auto;
}
@media screen and (max-width: 800px) {
  .banner .banner-cta h3 {
    border-left: unset;
  }
}
.banner .banner-text {
  display: inline-block;
  z-index: 5;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  text-align: center;
  width: 100%;
  font-size: 3.5rem !important;
  line-height: 1.2;
  width: 100%;
  color: #fff;
  font-family: "Tilt Warp", cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px #333;
  z-index: 5;
}
.banner .banner-main-text {
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  font-size: 3.5rem;
  line-height: 1.2;
  width: 100%;
  color: #fff;
  font-family: "Tilt Warp", cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px #333;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .banner .banner-main-text {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}
.banner .strong {
  font-family: "Tilt Warp", cursive;
  color: #9e6d2d;
}
.banner .banner-sub-text {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 5px;
  text-shadow: 3px 3px 5px #333;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .banner .banner-sub-text {
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
}
.banner .bannner-cta-button {
  z-index: 5;
  margin-top: unset;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  background: #9e6d2d;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  padding: 0.6rem 1.5rem;
  border-radius: 200px;
  text-decoration: none;
  text-shadow: none !important;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .banner .bannner-cta-button {
    margin-bottom: 1.5rem;
    padding: 0.5rem 0.85rem;
  }
}
.banner .bannner-cta-button:hover {
  background: #000;
}
.banner .banner-links {
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.banner .breadcrumb {
  align-self: flex-start;
  justify-self: flex-end;
  color: #fff;
  z-index: 2;
  text-shadow: 3px 3px 5px #111;
}
.banner .breadcrumb li:last-child {
  color: #fff;
}
@media screen and (max-width: 500px) {
  .banner .breadcrumb li:last-child {
    font-size: 10px;
  }
}
.banner .breadcrumb a {
  color: #fff;
}
@media screen and (max-width: 500px) {
  .banner .breadcrumb a {
    font-size: 10px;
  }
}
.banner .breadcrumb a:hover {
  color: #fff;
}
.banner .breadcrumb a::after {
  color: #fff !important;
}
.banner .link {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 2;
}
.banner .link .icon {
  padding: 0.15rem;
  border-radius: 50%;
}
.banner .link .icon:hover {
  transform: scale(1.1);
}
.banner .link .icon img {
  height: 1.2rem;
}
.banner .scroll-down-holder {
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .banner .scroll-down-holder {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.banner .scroll-down {
  display: block;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  text-align: center;
  background: #9e6d2e;
  padding: 0.2rem;
  overflow: hidden;
  border-radius: 50%;
  animation: transformEffect 1.5s linear infinite;
}
@keyframes transformEffect {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}
.banner .scroll-down img {
  height: 60%;
}

.banner.service-banner::after {
  background: rgba(0, 0, 0, 0.5);
}

.banner.single {
  height: 300px;
}
@media screen and (max-width: 900px) {
  .banner.single {
    height: 300px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .banner.single {
    height: 200px;
    margin-bottom: 10px;
  }
}
.banner.single .container {
  padding: 1rem 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.banner.single .container .links-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .banner.single .container .links-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    padding-left: 1rem;
  }
}
.banner.single .container .links-container .breadcrumb {
  align-self: unset;
}
.banner.single .container .links-container img {
  margin: unset;
}

.essential-links {
  margin-bottom: 3rem;
}
.essential-links .links-container-full {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .essential-links .links-container-full {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.essential-links .breadcrumb {
  align-self: flex-start;
  justify-self: flex-end;
  color: #fff;
  margin-top: 0.75rem;
  z-index: 2;
}
.essential-links .breadcrumb ul {
  background: #282828;
  color: #fff;
  margin: 0;
  transform: skew(-15deg, 0deg);
}
.essential-links li {
  font-size: 0.9rem !important;
  font-weight: 500;
  padding: 8px 15px;
}
@media screen and (max-width: 500px) {
  .essential-links li:last-child {
    font-size: 10px;
  }
}
.essential-links a {
  color: white;
}
@media screen and (max-width: 500px) {
  .essential-links a {
    font-size: 10px;
  }
}
.essential-links a:hover {
  color: #fff;
}
.essential-links a::after {
  color: #fff !important;
}
.essential-links .link {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 2;
}
.essential-links .link .icon {
  padding: 0.15rem;
  border-radius: 50%;
}
.essential-links .link .icon:hover {
  transform: scale(1.1);
}
.essential-links .link .icon img {
  height: 1.2rem;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  height: 0px;
  position: absolute;
  left: 10px;
  top: 60px;
  background-color: rgba(255, 255, 255, 0.8431372549);
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000001;
  transition-duration: 1s;
  overflow: hidden;
}
.dropdown-content a {
  position: relative;
  transform: translateX(-200%);
  display: block;
  margin-left: 10px !important;
  margin-top: 10px;
  margin-bottom: 5px;
  z-index: 1001;
  transition-duration: 1s;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 800;
  color: rgba(7, 0, 18, 0.9607843137);
}

.dropdown:hover .dropdown-content {
  height: 150px;
}
.dropdown:hover .dropdown-content a {
  transform: translateX(0%);
  display: block;
  opacity: 1;
}

.mf-cursor:before {
  scale: 4;
}

a.mobile-cta-btn {
  display: none;
  height: 35px !important;
  padding: 10px !important;
  width: 270px !important;
  background-color: #9e6d2d;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px !important;
}
@media screen and (orientation: portrait) {
  a.mobile-cta-btn {
    display: block;
    margin: 0px auto !important;
    margin-top: 10px !important;
  }
}

.fullscreen-menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: -100%;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  margin: 0px auto !important;
  padding: 0px;
  opacity: 0;
  transition-duration: 0.3s;
}
.fullscreen-menu ul > li > a {
  color: #262525 !important;
}
.fullscreen-menu img {
  width: 80vw;
}

.cross {
  position: absolute !important;
  top: 20px !important;
  right: 10px !important;
  height: 50px !important;
}
.cross img {
  width: 100%;
  height: 100%;
}

.cross-visible {
  opacity: 1;
  left: 0px;
}

.button-flex-box {
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-hero {
  background-color: #eeeeee;
  padding: 2rem 2rem 1rem;
  margin-bottom: 2.5rem !important;
  border-bottom: 5px solid #9e6d2d;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}
.section-hero p {
  font-weight: 500;
  text-align: justify;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1000px) {
  .section-hero p {
    text-align: unset;
  }
}

.investax-accordion {
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
}
.investax-accordion details {
  margin-bottom: 0.5rem;
  border-bottom: unset;
}
.investax-accordion details summary {
  font-weight: 600;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}
.investax-accordion details summary span {
  margin-right: 1.5rem;
}
.investax-accordion details p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem !important;
  line-height: 1.8;
  margin-bottom: unset !important;
}

.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem 0 1.5rem;
  padding: 0.3rem 1rem;
  background: #282828;
  color: #fff;
  font-size: 0.75rem;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  transition: all 0.25s ease;
}
.download-btn .download-icon {
  transform: translateY(-2px);
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.download-btn:hover {
  background: #9e6d2d;
}

#side-menu {
  position: sticky;
  top: 100px;
}
#side-menu .sidemenu-content {
  background-color: whitesmoke;
  padding: 1rem 1rem;
  border-radius: unset;
  margin-bottom: 1rem;
}
#side-menu .sidemenu-cta {
  padding: 1rem 0 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: 1.5px solid #9e6d2d;
}
#side-menu .sidemenu-cta .complimentary-consultation {
  background: seagreen;
  color: #fff;
  padding: 0.75rem 1rem 0.65rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.2;
  border-radius: 1000px;
}
#side-menu .sidemenu-cta .complimentary-consultation:hover {
  background: #000;
}
#side-menu .sidemenu-cta .contact-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  white-space: nowrap;
  color: #000;
}
#side-menu .sidemenu-cta .contact-number .phone-icon {
  height: 1.3rem;
  margin-top: unset !important;
}
#side-menu .table-of-content-container {
  margin-top: 1rem;
  padding: 0 0.75rem 0;
  max-height: 330px;
  overflow-y: auto;
}
#side-menu .table-of-content-container::-webkit-scrollbar {
  width: 2px;
}
#side-menu .table-of-content-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(82, 132, 137, 0.3);
  border-radius: 10px;
}
#side-menu .table-of-content-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(92, 38, 5, 0.8);
}
#side-menu .table-of-content-container h2 {
  color: rgba(7, 0, 18, 0.9607843137);
  font-size: 0.8rem;
  margin-bottom: 1rem;
  text-shadow: none !important;
}
#side-menu .table-of-content-container #table-of-content {
  padding: 0 0.5rem 0;
  list-style: circle;
  font-size: 0.76rem;
}
#side-menu .table-of-content-container #table-of-content li {
  position: relative;
  list-style: none;
  margin-bottom: 0.5rem;
}
#side-menu .table-of-content-container #table-of-content li:last-child {
  margin-bottom: unset;
}
#side-menu .table-of-content-container #table-of-content li:hover a {
  color: seagreen !important;
  font-weight: 700;
}
#side-menu .table-of-content-container #table-of-content li:hover::before {
  background-color: seagreen;
  border-color: seagreen;
}
#side-menu .table-of-content-container #table-of-content li::before {
  position: absolute;
  content: " ";
  height: 10px;
  width: 10px;
  background-color: #f0f8ff;
  left: -20px;
  top: 3px;
  border-radius: 50%;
  border: 2px solid #9e6d2d;
  z-index: 5;
}
#side-menu .table-of-content-container #table-of-content li:not(:last-child)::after {
  position: absolute;
  content: " ";
  width: 2px;
  height: 100%;
  top: 10px;
  left: -16px;
  bottom: 0px;
  background-color: transparent;
  border-left: 2px dashed #9e6d2d;
  z-index: 2;
}
#side-menu .table-of-content-container #table-of-content li a {
  font-weight: 500;
  font-size: 0.7rem !important;
  color: rgba(7, 0, 18, 0.9607843137) !important;
  text-decoration: none;
  text-transform: capitalize;
}
#side-menu .table-of-content-container #table-of-content li.active a {
  color: seagreen !important;
  font-weight: 700;
}
#side-menu .table-of-content-container #table-of-content li.active::before {
  background-color: seagreen;
  border-color: seagreen;
}
#side-menu .main-contact {
  border: 0.5px solid rgba(48, 53, 59, 0.15);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#side-menu .main-contact .img-container {
  border-right: 0.5px solid rgba(48, 53, 59, 0.15);
}
#side-menu .main-contact .img-container img {
  margin-top: unset !important;
  width: 100%;
  height: auto;
  border-radius: unset;
}
#side-menu .main-contact .details {
  padding: 0.75rem;
  height: 100%;
  line-height: 1.2;
}
#side-menu .main-contact .details .author-detail {
  padding-bottom: 0.5rem;
}
#side-menu .main-contact .details .sub-title {
  font-size: 0.5rem;
  font-weight: 500;
  color: #666;
  margin-bottom: 0.5rem;
}
#side-menu .main-contact .details .name {
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  font-weight: 600;
  color: rgba(7, 0, 18, 0.9607843137);
}
#side-menu .main-contact .details .position {
  font-size: 0.65rem;
  font-weight: 700;
  color: #9e6d2d;
}
#side-menu .main-contact .details .social-lick-box {
  margin-top: 0.25rem;
  border-top: 1px solid rgba(48, 53, 59, 0.15);
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
#side-menu .main-contact .details .social-lick-box .social-link {
  padding: 0.35rem;
  background: #9e6d2d;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.35s;
}
#side-menu .main-contact .details .social-lick-box .social-link:hover {
  transform: scale(1.1);
  background: #B17A4E;
}
#side-menu .main-contact .details .social-lick-box .social-link img {
  margin-top: unset !important;
  height: 100%;
  width: 100%;
}

#cta-section {
  margin-top: 2.5rem;
  margin-bottom: 0 !important;
  background: whitesmoke;
}
#cta-section .cta-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 1.5rem;
  color: #282828;
  line-height: 1.4;
}
#cta-section .cta-container .cta-text-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#cta-section .cta-container .cta-icon {
  max-width: 200px;
}
@media screen and (max-width: 768px) {
  #cta-section .cta-container .cta-icon {
    display: none;
  }
}
#cta-section .cta-container .cta-icon img {
  width: 100%;
}
#cta-section .cta-container .cta-text {
  max-width: 750px;
}
#cta-section .cta-container .heading {
  font-size: 2rem;
  font-family: "Tilt Warp", cursive;
  color: rgba(7, 0, 18, 0.9607843137);
  margin-bottom: 1rem;
  line-height: 1.1;
}
#cta-section .cta-container .sub-heading {
  font-size: 0.9rem;
  font-weight: 400;
}
#cta-section .cta-container .cta-button-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
#cta-section .cta-container .complimentary-nav {
  background: seagreen;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-size: 0.75rem;
  border-radius: 200px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
#cta-section .cta-container .complimentary-nav:hover {
  background: #000;
}
#cta-section .cta-container .contact-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.6rem;
  background: #fff;
  color: #000;
  border-radius: 200px;
  font-size: 0.85rem;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
}
#cta-section .cta-container .contact-number .phone-icon {
  height: 1.1rem;
  width: 1.1rem;
  background-image: url("../images/phone-solid-black.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#cta-section .cta-container .contact-number:hover {
  background: seagreen;
  color: #fff;
}
#cta-section .cta-container .contact-number:hover .phone-icon {
  background-image: url("../images/phone-solid-white.svg");
}

#book-now {
  background: #f5f5f5;
  padding: 2rem 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#book-now .book-icon {
  padding: 0.5rem;
  background: seagreen;
  border-radius: 50%;
  overflow: hidden;
}
#book-now .book-icon img {
  width: 4rem;
  margin-top: unset !important;
}
#book-now .heading {
  line-height: 1.2;
  color: #282828;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}
#book-now .booking-button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75rem 2.5rem;
  background: seagreen;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 200px;
  transition: 0.35s;
}
#book-now .booking-button:hover {
  background: #000;
}

.step-container {
  margin: 2.2rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media screen and (max-width: 991px) {
  .step-container {
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
  }
  .step-container .step-section-heading {
    flex: unset !important;
    width: 100%;
  }
  .step-container .step-section-content {
    flex: unset !important;
    width: 100%;
  }
}

.step-container.title-top {
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
}
.step-container.title-top .step-section-heading {
  flex: unset !important;
  width: 100%;
}
.step-container.title-top .step-section-content {
  flex: unset !important;
  width: 100%;
}

.step-section-heading {
  flex: 5;
  color: #b88c51;
}
.step-section-heading .heading-text {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -1px;
}
.step-section-heading .heading-text span {
  display: block;
}
.step-section-heading .heading-text .light-font {
  font-weight: 400;
}

.step-section-content {
  flex: 7;
}
.step-section-content summary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.75rem;
  line-height: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.step-section-content summary::after {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.25rem;
  padding: 0.2rem;
  float: unset;
}
.step-section-content .step-title {
  display: flex;
  gap: 1.2rem;
  align-items: flex-start;
}
.step-section-content .step-number {
  font-weight: 800;
  color: #9e6d2d;
  display: block;
  white-space: nowrap;
  letter-spacing: -0.5px;
}
.step-section-content .title-text {
  color: rgba(7, 0, 18, 0.9607843137);
  font-weight: 600;
  text-transform: uppercase;
}
.step-section-content p {
  font-size: 0.8rem;
  margin-bottom: 0.15rem;
}
.step-section-content .step-link {
  display: inline-block;
  margin-top: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75rem 1rem;
  background-color: #9e6d2d;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  transition-duration: 0.4s;
}
.step-section-content .step-link:hover {
  background-color: #61431c;
  color: #fff;
}

.faq-container {
  margin: 3rem 0 1rem;
}
.faq-container .title {
  font-family: "Tilt Warp", cursive;
  font-size: 2.5rem;
  color: #b88c51;
  text-align: center;
}
.faq-container .sub-title {
  margin: 0.75rem auto 2.5rem;
  font-size: 0.85rem;
  max-width: 700px;
  text-align: center;
  color: rgba(69, 68, 66, 0.5529411765);
}
.faq-container .faq details {
  padding-bottom: unset !important;
  color: #fff;
}
.faq-container .faq details:last-child {
  border-bottom: none;
}
.faq-container .faq details[open] summary {
  margin-bottom: 0;
  color: #fff;
}
.faq-container .faq details[open] summary::after {
  background-image: url("../images/chevron-down-solid.svg");
}
.faq-container .faq summary {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.75rem 1rem;
  background-color: #b88c51;
  color: #fff;
}
.faq-container .faq summary::after {
  background-image: url("../images/chevron-down-solid.svg");
}
.faq-container .faq p {
  background-color: #282828;
  color: #fff;
  padding: 0.75rem 1rem;
  margin-bottom: 0;
  font-size: 0.8rem;
}

/******************* Header ********************/
header {
  padding: unset !important;
  font-family: "Montserrat", sans-serif;
}
header .container-fluid {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
@media screen and (max-width: 1000px) {
  header .container-fluid {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

.container-menu {
  max-width: calc(100vw - 100px);
  height: calc(100% - 20px);
  padding: 0px 20px !important;
  margin: 0px auto !important;
}
@media screen and (max-width: 1100px) {
  .container-menu {
    max-width: calc(100vw - 20px);
    margin: 0px !important;
    padding: 20px !important;
  }
}
@media screen and (orientation: portrait) {
  .container-menu {
    padding: 0px !important;
    padding-left: 15px !important;
  }
}

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: unset !important;
  margin: unset !important;
  z-index: 1000;
}
@media screen and (max-width: 1000px) {
  #navigation {
    background: #fff !important;
    display: block;
    padding: 1rem 0.25rem;
  }
}
#navigation nav {
  display: flex;
  justify-content: space-around;
  align-items: center !important;
  gap: 0.25rem;
}
@media screen and (max-width: 1000px) {
  #navigation nav {
    display: block;
    padding: 1rem 0.25rem;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.logo-container .logo {
  width: 100%;
  width: 120px;
  transform: translateY(-9px);
}
.logo-container .logo img {
  width: 100%;
}
.logo-container .nav-icons {
  width: 2rem;
  margin-right: 5px;
  padding: 0.1rem;
  display: none;
}
@media screen and (max-width: 1000px) {
  .logo-container .nav-icons {
    display: block !important;
  }
}
.logo-container .nav-icons img {
  width: 100%;
}

.all-link {
  display: flex;
  align-items: center;
  color: #282828 !important;
  flex-grow: 1;
  margin-left: 2rem;
}
@media screen and (max-width: 1000px) {
  .all-link {
    display: block !important;
    position: fixed;
    top: 73.68px;
    left: 0;
    width: 100vw;
    bottom: 0;
    padding: 0.75rem 2rem;
    margin-left: unset !important;
    background: #fff !important;
    overflow-y: auto;
    transform: translateX(-120vw);
    transition: 1s;
  }
}
@media screen and (max-width: 768px) {
  .all-link {
    top: 73px;
  }
}
@media screen and (max-width: 575px) {
  .all-link {
    top: 68px;
  }
}

@media screen and (max-width: 1000px) {
  .all-link.show {
    transform: translateX(0);
  }
}

#navigation.menu-white .menu-item a {
  color: #fff;
}
#navigation.menu-white .sub-menu a {
  color: #282828;
}
#navigation.menu-white .nav-contacts a {
  color: #fff;
}
#navigation.menu-white .nav-contacts .phone-icon {
  background-image: url("../images/phone-solid-white.svg");
}
@media screen and (max-width: 1000px) {
  #navigation.menu-white .menu-item a, #navigation.menu-white .sub-menu a, #navigation.menu-white .nav-contacts a {
    color: #282828;
  }
  #navigation.menu-white .menu-item a .phone-icon, #navigation.menu-white .sub-menu a .phone-icon, #navigation.menu-white .nav-contacts a .phone-icon {
    background-image: url("../images/phone-solid-black.svg");
  }
}

.nav-menu {
  margin-left: auto !important;
  margin-right: auto !important;
  gap: 0.5rem;
}
@media screen and (max-width: 1000px) {
  .nav-menu {
    flex-direction: column;
    align-items: start;
    background: #fff;
    gap: unset;
  }
}
.nav-menu .menu-item {
  transition-duration: 0.4s;
  padding: unset !important;
  padding: 1.5rem 0.5rem !important;
}
.nav-menu .menu-item:last-child {
  margin-right: 0.5rem;
}
@media screen and (max-width: 1200px) {
  .nav-menu .menu-item {
    padding: 1.5rem 0.25rem !important;
  }
  .nav-menu .menu-item:last-child {
    margin-right: 0.25rem;
  }
}
@media screen and (max-width: 1000px) {
  .nav-menu .menu-item {
    padding: 0.25rem !important;
    width: 100% !important;
    margin: unset;
    margin-bottom: 0.75rem;
  }
}
.nav-menu .menu-item a {
  font-size: 0.75rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgba(7, 0, 18, 0.9607843137);
  cursor: pointer;
}
.nav-menu .underline {
  display: block;
  opacity: 0;
  height: 4px;
  background-color: #B17A4E;
  position: relative;
  left: 0px;
  transform: translateY(-130%);
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
}
.nav-menu .menu-item:hover .underline {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

.nav-contacts {
  gap: 0.75rem;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .nav-contacts {
    flex-direction: column;
    align-items: start;
    background: #fff;
    margin-top: 1rem;
  }
}
.nav-contacts li {
  padding: unset !important;
  margin-left: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-contacts li:first-child {
  margin-left: unset !important;
  margin-right: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-contacts li:first-child a {
  font-weight: 600 !important;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .nav-contacts li {
    margin-left: 0.25rem;
  }
}
@media screen and (max-width: 1000px) {
  .nav-contacts li {
    margin-left: unset !important;
    margin-bottom: 2rem !important;
  }
}
.nav-contacts li:last-child {
  margin: unset;
  margin-left: 0.25rem;
}
.nav-contacts .phone-icon {
  height: 2rem;
  width: 2rem;
  margin-right: 2px;
  background-image: url("../images/phone-solid-black.svg");
  background-position: center;
}
.nav-contacts .complimentary-nav {
  border-radius: 25px !important;
  background-color: #9e6d2d;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  font-size: 10px !important;
  padding: 0.5rem 1rem !important;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 300px;
  transition-duration: 0.4s;
}
.nav-contacts .complimentary-nav:hover {
  background-color: #61431c;
}
.nav-contacts a {
  font-size: 14px;
  font-weight: 500;
  color: rgba(7, 0, 18, 0.9607843137);
}

.nav-contacts > li > a[role=button] {
  border-radius: 25px;
  font-size: 10px;
  margin: 0px !important;
  padding: 13px 15px;
}
.nav-contacts > li > a[role=button]:hover {
  background-color: #61431c;
  border-radius: 25px;
  color: #fff;
}

.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 94px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000001;
  transition-duration: 1s;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .sub-menu {
    position: unset !important;
    top: unset !important;
    padding: unset !important;
    box-shadow: unset !important;
  }
}
.sub-menu .sub-menu-container {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (max-width: 1000px) {
  .sub-menu .sub-menu-container {
    padding: unset !important;
    margin: unset !important;
    width: 100% !important;
    display: block;
  }
}
.sub-menu .sub-menu-container .sub-menu-feature {
  height: unset;
  padding-left: 4rem !important;
}
@media screen and (max-width: 1000px) {
  .sub-menu .sub-menu-container .sub-menu-feature {
    display: none;
  }
}
.sub-menu .sub-menu-container .sub-menu-feature img {
  width: 100%;
}
.sub-menu .sub-menu-container .sub-menu-feature p {
  margin-top: 1rem;
  margin-bottom: unset !important;
  font-size: 0.9rem;
}
.sub-menu .sub-menu-container .sub-menu-feature a {
  margin: unset;
  margin-top: 0.35rem;
  padding: 0.25rem 0.75rem;
  background: #9e6d2d;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}
.sub-menu .sub-menu-container .sub-menu-feature a:hover {
  background: #B17A4E;
}
.sub-menu .sub-nav-menu {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-x: hidden;
  overflow-y: auto;
  margin: unset !important;
}
@media screen and (max-width: 1000px) {
  .sub-menu .sub-nav-menu {
    height: unset !important;
    width: 100% !important;
    padding: unset !important;
    margin: unset !important;
    flex: unset !important;
  }
}
.sub-menu .sub-menu-item {
  padding: 0 0.75rem;
  width: 100% !important;
  margin-bottom: 0.75rem;
}
@media screen and (max-width: 1000px) {
  .sub-menu .sub-menu-item {
    width: 100% !important;
    padding: 0 0.25rem 0 0.75rem !important;
  }
}
.sub-menu .sub-menu-item:first-child {
  margin-top: 0.5rem;
}
@media screen and (max-width: 1000px) {
  .sub-menu .sub-menu-item:first-child {
    margin-top: 1rem;
  }
}
.sub-menu .sub-menu-item .menu-btn {
  display: flex !important;
  justify-content: space-between;
  position: relative;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  padding-right: 1rem;
  font-size: 0.7rem;
  font-weight: 500;
  border-bottom: 3px solid #fff;
  border-radius: 0;
}
@media screen and (max-width: 1000px) {
  .sub-menu .sub-menu-item .menu-btn {
    white-space: nowrap;
    width: 100% !important;
    padding-right: unset !important;
    padding: 0.35rem 0.75rem !important;
  }
}
.sub-menu .sub-menu-item .menu-btn:hover {
  border-color: #9e6d2d;
}
.sub-menu .sub-menu-item .menu-btn.active {
  border-color: #9e6d2d;
}
.sub-menu .sub-menu-item .menu-btn .icon {
  height: 15px;
}
.sub-menu .sub-menu-item .menu-btn .icon img {
  height: 100%;
}
.sub-menu .second-sub-menu-container {
  display: none;
}
@media screen and (max-width: 1000px) {
  .sub-menu .second-sub-menu-container.show {
    display: block !important;
  }
  .sub-menu .second-sub-menu-container.show ul {
    flex-direction: column;
    align-items: start;
    padding-top: 0.5rem;
    padding-left: 2rem;
  }
  .sub-menu .second-sub-menu-container.show ul li {
    padding: unset;
    margin-bottom: 0.75rem;
  }
  .sub-menu .second-sub-menu-container.show ul li:last-child {
    margin-bottom: 1rem;
  }
  .sub-menu .second-sub-menu-container.show ul li a {
    padding: 0.25rem 0;
    border-bottom: 2px solid #fff;
    border-radius: unset;
    font-size: 0.75rem;
  }
  .sub-menu .second-sub-menu-container.show ul li a:hover {
    border-bottom: 2px solid #b88c51;
  }
}

@media screen and (max-width: 1000px) {
  .show-sub-menu {
    display: none !important;
  }
}
.show-sub-menu ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-height: 350px;
  overflow-y: auto;
}
.show-sub-menu ul li {
  padding: unset !important;
  margin: unset;
  margin-bottom: 0.05rem;
  color: #000;
}
.show-sub-menu ul li a {
  position: relative;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.35rem 0.25rem 0.75rem;
  font-size: 0.7rem !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  border-bottom: 3px solid #fff;
  border-radius: 0px;
  transition: all 0.25s;
}
.show-sub-menu ul li a:hover {
  border-color: #9e6d2d;
}

.menu-item.show-menu .sub-menu {
  display: block;
}
.menu-item.show-menu .sub-menu a {
  transform: translateX(0%);
  display: block;
  opacity: 1;
  font-weight: 600;
}

.mf-cursor:before {
  scale: 4;
}

/******************* Content ********************/
main {
  margin-top: 0 !important;
  padding: 0px !important;
}

/******************* Footer ********************/
footer {
  background-color: #090e12;
}
footer div.footer-row {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 900px) {
  footer div.footer-row {
    margin-top: 30px;
    margin-bottom: 5px;
  }
}
footer div.footer-row div {
  width: calc(33% - 40px);
}
footer div.footer-row h4 {
  font-family: "Tilt Warp", cursive;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 900px) {
  footer div.footer-row h4 {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  footer div.footer-row {
    flex-direction: column;
    justify-content: space-evenly;
  }
  footer div.footer-row div {
    width: 100%;
  }
  footer div.footer-row div img {
    width: 250px !important;
    margin-bottom: 30px !important;
  }
}
@media screen and (max-width: 900px) and (max-width: 900px) {
  footer div.footer-row div img {
    width: 200px !important;
  }
}
@media screen and (max-width: 900px) {
  footer div.footer-row div ul > li {
    font-size: 12px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 900px) and (max-width: 900px) {
  footer div.footer-row div ul > li {
    font-size: 10px;
  }
}
footer div.footer-row ul {
  margin-left: -20px;
}
footer div.footer-row ul > li {
  text-align: center;
  list-style: none;
  margin-left: 0px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8980392157);
}
footer div.footer-row ul > li a {
  color: rgba(255, 255, 255, 0.8980392157);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 30px;
}
footer div.footer-row ul > li a:hover {
  color: #f0f5d6;
  text-decoration: none;
}
footer .fine-print {
  width: 70% !important;
  text-align: center;
  margin: 0px auto !important;
}
@media screen and (max-width: 600px) {
  footer .fine-print {
    margin-top: 0px !important;
    line-height: 10px;
    width: 100% !important;
  }
}
footer .fine-print span {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 2px;
  font-weight: 400;
  display: block;
  margin: 5px auto;
  color: rgba(255, 255, 255, 0.8352941176);
}
@media screen and (max-width: 600px) {
  footer .fine-print span {
    font-size: 8px;
  }
}
footer .fine-print .trad-custodian {
  font-weight: 800 !important;
  line-height: 30px;
  margin-bottom: 20px;
  font-size: 20px !important;
}
@media screen and (max-width: 600px) {
  footer .fine-print .trad-custodian {
    font-size: 10px !important;
    line-height: 14px !important;
    margin-bottom: 5px !important;
  }
}
footer .input-group {
  width: 100% !important;
  display: flex;
  margin-bottom: 0;
}
@media screen and (max-width: 1000px) {
  footer .input-group {
    width: 80% !important;
    margin: 0px auto !important;
  }
}
footer input.form-input {
  width: calc(100% - 120px);
  margin-right: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 40px !important;
  margin-top: 0px !important;
  border: 1px solid #9e6d2d;
  background-color: #fff !important;
}
footer button.btn {
  width: 120px;
  height: 40px;
  background-color: #b88c51;
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 18px;
  padding: 4px;
}
footer .fine-print-container {
  justify-content: flex-end;
}
footer .powered-by {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  color: #fff;
}
footer .powered-by img {
  display: inline-block;
  height: 12px;
  width: auto;
  margin-left: 10px;
}
@media screen and (max-width: 900px) {
  footer .powered-by img {
    width: 20px !important;
    display: none;
  }
}
@media screen and (orientation: portrait) {
  footer .powered-by {
    margin: 0px !important;
  }
}
@media screen and (max-width: 900px) {
  footer .footer-row-1 {
    margin-top: 100px !important;
  }
}/*# sourceMappingURL=theme-styles.css.map */